<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Fast Food Fast-Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" lang="en-us" content="foods, soft drinks, beverages, salads">
    <link href="/app/static/css/style.css" rel="stylesheet">
    <link href="/app/static/css/menu.css" rel="stylesheet">
</head>

<body>
    <!--header content-->
    <div class="topnav">
        <div class="logo">
            <a href="/app/templates/index.html">
                <h1>Fast Food Fast</h1>
            </a>
        </div>
        <ul>
            <li><a class="active" href="/app/templates/login.html">Login</a></li>
            <li><a href="/app/templates/signup.html">Signup</a></li>
        </ul>
    </div>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>Menu
    </header>
    <nav id="drawer">
        <ul>
            <li><a href="/app/templates/login.html">Login</a></li>
            <li><a href="/app/templates/signup.html">Signup</a></li>
        </ul>
    </nav>

    <!--header content-->

    <div class="container">
        <form id="form" action="/app/templates/login.html">
            <div class="container2">
                <div id="title">
                    <h1>SIGN UP</h1>
                </div>
                <hr>
                <div class="inline">
                    <label for="fname"><b>First name</b></label>
                    <input type="text" placeholder=" Enter First name" name="name" required>
                    <label for="lname"><b> Last name</b></label>
                    <input type="text" placeholder=" Enter last name" name="name" required>
                    `</div>
                <div class="inline">
                    <label for="phone"><b>Telephone</b></label>
                    <input type="text" placeholder=" Enter Phone" name="phone" required>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder=" Enter Email" name="email" required>
                </div>
                <div class="inline">
                    <input type="password" placeholder=" Enter Password" name="psw" required>
                    <input type="password" placeholder=" Repeat Password" name="psw-repeat" required>
                </div>
                <input type="submit" class="registerbtn viewBtn" value="Submit">
                <div class="signin">
                    <p>Already have an account? <a href="/app/templates/login.html">Sign in</a>.</p>
                </div>
            </div>
        </form>
    </div>
</body>

</html>