#adminbar{
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;
  margin-left:50px;
  margin-top:20px;
}

.listadd{
  width:300px;
  height:60px;
  list-style: none;
}
.listadd li{
  
  float:left;
}
.listadd .img_bag{
  height:70px;
  width:70px;
  background-color:rgb(128, 208, 240);
}
.listadd li img{
  width:50px;
  height:50px;
  padding:5px;
  margin:5px;
  
}

.listadd li h5{
  color:#000;
  margin:10px;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}
.listadd .tcounts{
  background-color:white;
  text-align: center;
  width:60%;
  height:70px;
}
.count{
  color:rgb(128, 208, 240);
  font-size:25px;
}

#admintable{
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;
  background-color: #ddd;
  
  /* overflow-y: scroll; */
}

#admintable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#data_table tr td input{
  border:1px solid blue;
  position: sticky;
  border-color: #534a35;
  border-radius: 10px;
}

.edit{
  border:none;
  border-radius: 5px;
  height: 30px;
  width:50px;
  background-color:orange;
}
.save{
  border:none;
  border-radius: 5px;
  height: 30px;
  width:50px;
  background-color:green;
 } 
.delete{
  border:none;
  border-radius: 5px;
  height: 30px;
  width:50px;
  background-color:red;
}

.add{
  border:none;
  border-radius: 5px;
  height: 30px;
  width:100px;
  margin-top:-100px;
  background-color:grey;
}

#new_name,#new_type,#new_status{
  border-color: #534a35;
  background-color: #f7d794;
}

#new_name:focus-visible,#new_type:focus-visible,#new_status:focus-visible{
  border-radius: 10px;
  border-color: #534a35;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
   overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}