* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}


#drawer-toggle {
    position: absolute;
    opacity: 0;
}

#drawer-toggle-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0px;
    height: 50px;
    width: 50px;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, .0);
    z-index: 1;
}


#drawer-toggle-label:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #8d8d8d;
    left: 13px;
    top: 18px;
    box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}

header {
    width: 100%;
    position: fixed;
    left: 0px;
    background: #534a35;
    padding: 10px 10px 10px 50px;
    font-size: 30px;
    line-height: 30px;
    z-index: 0;
}

#drawer {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background: #2f2f2f;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
}

#drawer-toggle:checked~#drawer-toggle-label {
    height: 100%;
    width: calc(100% - 300px);
    background: rgba(255, 255, 255, .8);
}

#drawer-toggle:checked~#drawer-toggle-label,
#drawer-toggle:checked~header {
    left: 300px;
}

#drawer-toggle:checked~#drawer {
    left: 0px;
}

#drawer-toggle:checked~#page-content {
    margin-left: 300px;
}

header ul .form {
    margin-top:-30px;
    float: right;
    margin-right: 20px;
}

header .form input {
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    width: 200px;
}

#drawer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    float: left;
    width: 200px;
    height: 100%;
}

#drawer ul li {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: black;
    padding: 12px;
    text-decoration: none;
}

#drawer ul a {
    display: block;
    width: 80%;
    color: #f7d794;
    padding: 12px;
    text-decoration: none;
}

#drawer ul a:hover {
    background-color: #f7d794;
}

#drawer ul a.active {
    background-color: #4CAF50;
    /* Add a green color to the "active/current" link */
    color: white;
}

@media all and (max-width:350px) {

    #drawer-toggle:checked~#drawer-toggle-label {
        height: 100%;
        width: 50px;
    }

    #drawer-toggle:checked~#drawer-toggle-label,
    #drawer-toggle:checked~header {
        left: calc(100% - 50px);
    }

    #drawer-toggle:checked~#drawer {
        width: calc(100% - 50px);
        padding: 20px;
    }

    #drawer-toggle:checked~#page-content {
        margin-left: calc(100% - 50px);
    }

}