body {
    background-color: rgba(255, 255, 255, 0.678);
    background: #f7d794;
    margin: 0;
    height: 100%;  
}
html{ 
    height: 100%; 
    } 
    

.topnav{
    
    top:0;
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:100px;
    background:#f7d794;
}

.logo{
    display: flex;
    flex:1;
    margin-left:30px;
    text-decoration: none;
    text-decoration-line:none;
}

.logo a h1{
    color:#000000;
}

.topnav a:link {
    text-decoration: none;
}


.topnav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float:right;
}


.topnav ul li {
    float: left;
}


.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav ul li a:hover {
    color: #111;
}

@media screen and (max-width: 600px){
    .topnav ul li.right, 
    .topnav ul li {float: none;}
}

.container{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height: 100%;
    background: url('../img/12809.jpg') no-repeat 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
}

#headtext{
    display: flex;
    flex-direction: row;
    height:100px;
}

#headetext h2{
    text-align: center;
    margin:0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbtron{
    display: flex;
    flex-direction: row;
    background-color: rgba(252, 247, 247, 0.527);
    width:800px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.jumbtron span h2{
    color: #C93700;
    font-family: peaalesa, sans-serif;
    margin-left:20px;
    font-size: 40px;
    font-weight: normal;
}

.bottom{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: rgb(41, 38, 38);
    height:92px;
    width:100%;
    bottom: 0;
}

.bottom #a{
color:#ffffff;
margin-left:30px;
}


/******
signup form
**************/

.container2 {
    margin:0 auto;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.589);
    width:100%;
    height: auto;
}

.container2 #title, h2{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}

form{
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #f1f1f1;
}

.left-side{
    display: flex;
    flex-direction: column;
    float:left;
    margin-left:50px;
    width:40%;
}

.right-side{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right:50px;
    width:40%;
}

input[type=text], input[type=password], select {
    display:block;
    width:100%;
    margin: 5px 0 21px 0;
    border: none;
    background: #f1f1f1;
    height:35px;
    padding: 2px 0 6px 3px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom:10px;
}

.registerbtn {
    display: flex;
    flex-direction: row;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width:100%;
    justify-content: center;
}

.registerbtn:hover {
    opacity: 1;
}


a {
    color: dodgerblue;
}

.signin {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    justify-content: center;
}

/******
login form
**************/
.container3{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    background: url('../img/12809.jpg') no-repeat 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper{
    background: rgba(255, 255, 255, 0.478);
    display: block;
    width: 100%;
    overflow: hidden;
}

.wrapper form{
    display: block;
    background: #ffffff;
    margin: 0 auto;
    width: 30%;
    height: auto;
    margin-top:50px;
    margin-bottom: 50px;
    padding:0 20px 20px 20px;
    border:1px solid green;
    border-radius: 20px;
}

.wrapper form h2{
    padding:20px 10px 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
}

.wrapper label{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
}

.wrapper input[type=text], input[type=password]{
    display:block;
    width:100%;
    margin: 15px 0 21px 0;
    border: none;
    background: #f1f1f1;
    height:35px;
    padding: 2px 0 6px 5px;
}

.wrapper hr {
    border: 1px solid #f1f1f1;
    margin-bottom:10px;
    width:100%;
}

.wrapper .registerbtn{
    width:100%;
}

.wrapper .signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/******
verticle menu
**************/
.contain{
    display: flex;
    flex-direction: row;
    background: #4CAF50;
    width:100%;
    height: 100%;
    top:0;
    margin-top:50px;
}
.verticle-menu {
    display: flex;
    flex-direction: column;
    float:right;
    width:300px;
    height: 100%;
    background:#534a35;
}

.verticle-menu li{
    display: block;
    margin:0 auto;
    width:100%;
    color: black;
    padding: 12px;
    text-decoration: none;
}

.verticle-menu a{
    display: block;
    width:80%;
    color: #f7d794;
    padding: 12px;
    text-decoration: none;
}

.verticle-menu a:hover{
    background-color: #f7d794;
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
#right{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    background: #C93700;  
    overflow-y: scroll;
}
#left{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(161, 143, 136);
}

div.gallery {
    border: 1px solid #ccc;
    margin-top:10px;
    background:#ccc;
    border-radius: 10px;
    padding-bottom:30px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
    border-top-left-radius:10px; 
    border-top-right-radius:10px; 
}
div.desc h2{

    
    margin-top:-40px;
    padding-bottom:20px;
}
div.desc {
    color:#534a35;
    text-decoration:none;
    text-align: center;
    
    
    margin-top:40px;
   
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px;
    float: left;
    width: 24%;
    margin:5px;
}


.viewBtn{
    border:1px solid green;
    border-radius: 5px;
    padding:10px;
    color: #f7d794;
    text-decoration:none;
    background: green;
    width:50%;

}

.addBtn{
    border:1px solid blueviolet;
    border-radius: 5px;
    padding:10px;
    color: #f7d794;
    text-decoration:none;
    background: blueviolet;
    width:50%;

}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    
.viewBtn{
    border:1px solid green;
    border-radius: 5px;
    padding:10px;
    text-decoration:none;
    background: green;
    background-size: 100%;

}
#left{
    display: none;
}
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    
.viewBtn{
    border:1px solid green;
    border-radius: 5px;
    padding:10px;
    text-decoration:none;
    background: green;
    background-size:100%

}
#left{
    display: none;
}
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

