<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Fast Food Fast-Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" lang="en-us" content="foods, soft drinks, beverages, salads">
    <link href="/app/static/css/style.css" rel="stylesheet">
    <link href="/app/static/css/menu.css" rel="stylesheet">
    <link href="/app/static/css/userdash.css" rel="stylesheet">
</head>

<body id="menu">
    <!--header content-->
    <div class="topnav">
        <div class="logo">
            <a href="/app/templates/index.html">
                <h1>Fast Food Fast</h1>
            </a>
        </div>

        <ul>
            <li><a class="active" href="/app/templates/login.html">User</a></li>
            <li><a href="/app/templates/login.html">Logout</a></li>
        </ul>
    </div>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>Menu</header>
    <nav id="drawer">
        <ul>
            <li>
            </li>
            <li><a href="/app/templates/menu.html" class="active">Food Menu</a></li>
            <li><a href="/app/templates/orderhistory.html">Order History</a></li>
            <li><a href="/app/templates/profile.html">My account</a></li>
            <li><a href="/app/templates/index.html">Logout</a></li>
        </ul>
    </nav>
    <div class="contain">
        <aside id="right">
            <section>
                <div class="responsivedash">
                    <div class="gallerydash">
                        <a target="_self" href="/app/templates/orderhistory.html">
                            <img src="/app/static/img/food/12809.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="descdash">
                            <h2>Order history</h2>
                            <a href="/app/templates/orderhistory.html" class="viewBtndash">View</a>
                        </div>
                    </div>
                </div>
                <div class="responsivedash">
                    <div class="gallerydash">
                        <a target="_self" href="/app/templates/food.html">
                            <img src="/app/static/img/food/5967.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="descdash">
                            <h2>Dishes</h2>
                            <a href="/app/templates/food.html" class="viewBtndash">View</a>
                        </div>
                    </div>
                </div>
                <div class="responsivedash">
                    <div class="gallerydash">
                        <a target="_self" href="/app/templates/drinks.html">
                            <img src="/app/static/img/drinks/images.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="descdash">
                            <h2>Drinks</h2>
                            <a href="/app/templates/drinks.html" class="viewBtndash">View</a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="responsivedash">
                    <div class="gallerydash">
                        <a target="_self" href="/app/templates/salads.html">
                            <img src="/app/static/img/salads/download.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="descdash">
                            <h2>Salads</h2>
                            <a href="/app/templates/salads.html" class="viewBtndash">View</a>
                        </div>
                    </div>
                </div>
                <div class="responsivedash">
                    <div class="gallerydash">
                        <a target="_self" href="/app/templates/deserts.html">
                            <img src="/app/static/img/deserts/images(1).jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="descdash">
                            <h2>Deserts</h2>
                            <a href="/app/templates/deserts.html" class="viewBtndash">View</a>
                        </div>
                    </div>
                </div>
                <div class="responsivedash">
                    <div class="gallerydash">
                        <a target="_self" href="/app/templates/pastries.html">
                            <img src="/app/static/img/pastries/download.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="descdash">
                            <h2>Pastries</h2>
                            <a href="/app/templates/pastries.html" class="viewBtndash">View</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
        </aside>
        <aside id="left">
            <ul class="verticle-menu">
                <li>
                    <h2></h2>Select Food
                </li>
                <li><a href="/app/templates/food.html">FOOD</a></li>
                <li><a href="/app/templates/drinks.html">DRINKS</a></li>
                <li><a href="/app/templates/salads.html">SALADS</a></li>
                <li><a href="/app/templates/deserts.html">DESERTS</a></li>
                <li><a href="/app/templates/pastries.html">PASTRIES</a></li>
            </ul>
        </aside>
    </div>
</body>

</html>