<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Fast Food Fast-Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" lang="en-us" content="foods, soft drinks, beverages, salads">
    <link href="/app/static/css/style.css" rel="stylesheet">
    <link href="/app/static/css/menu.css" rel="stylesheet">
    <link href="/app/static/css/userdash.css" rel="stylesheet">
</head>

<body id="menu">
    <!--header content-->
    <div class="topnav">
        <div class="logo">
            <a href="/app/templates/index.html">
                <h1>Fast Food Fast</h1>
            </a>
        </div>
        <ul>
            <li><a class="active" href="/app/templates/login.html">User</a></li>
            <li><a href="/app/templates/login.html">Logout</a></li>
        </ul>
    </div>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>Menu
        <ul>
            <form class="form">
                <input type="search" placeholder="Search for a cuisine or dish">
            </form>
        </ul>
    </header>
    <nav id="drawer">
        <ul>
            <li>
                <ul>
                    <form class="form">
                        <input type="search" placeholder="Search for a cuisine or dish">
                    </form>
                </ul>
            </li>
            <li><a href="/app/templates/menu.html" class="active">Food Menu</a></li>
            <li><a href="/app/templates/orderhistory.html">Order History</a></li>
            <li><a href="/app/templates/profile.html">My account</a></li>
            <li><a href="/app/templates/index.html">Logout</a></li>
        </ul>
    </nav>
    <div class="contain">
        <aside id="right">
            <section>
            </section>
        </aside>
        <aside id="left">
            <ul class="verticle-menu">
                <li>
                    <h2></h2>Select Food
                </li>
                <div>
                    <div id="cart_box">
                        <h3>Your order <i class="icon_cart_alt"></i></h3>
                        <hr>
                        <div id="options_2">
                            <div>
                                <label><input type="radio" value="" disabled="" checked="" name="option_2">Delivery</label>
                            </div>
                            <div>
                                <label><input type="radio" id="takeaway" disabled="" value="" name="option_2" check="">Take
                                    Away</label>
                            </div>
                        </div>
                        <hr>
                        <table>
                            <tbody id="mycart">
                                <tr>
                                    <td class="each-name"><strong class="shopp-quantity"></strong>x <div class="pull-right shopp-price">€<em
                                                class="price_order"></em></div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>
                                        Subtotal <span>€ 0 </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Delivery fee <span>€</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="total">
                                        <div class="cart-total">TOTAL <em class="pull-right">€<span>0<span></span></span></em>
                                            <input type="hidden" name="total-hidden-charges" id="total-hidden-charges"
                                                value="0">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <input type="hidden" id="first-name" name="first-name" value="0">
                        <input type="hidden" name="menu_id" value="">
                        <input type="hidden" name="delivery_charge" value="">
                        <input type="hidden" name="total_order" value="">
                        <input type="hidden" name="total-hidden-order" id="total-hidden-order" value="0">
                        <input type="hidden" name="phonestore" value="">
                        <input type="hidden" name="workingperiod" value="">
                        <input type="hidden" name="priceorder" value="">
                        <input type="hidden" name="nameorder" value="">
                        <input type="hidden" name="number_quantity" value="">
                        <input type="hidden" name="notes_text" class="notes_text" value="">
                        <button type="submit" class="btn_full">Go to checkout</button>
                    </div>
                </div>
            </ul>
        </aside>
    </div>
</body>

</html>